/* to fix side scrolling issue */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* just sidebar things ----------------------- */
.sidebar{
  overflow-x: hidden;
  background-color: rgb(50, 50, 60);
  width: 300px;
  height: 100%;
  padding-left: 10px;
  padding-top: 15px;
  position: fixed;
  border-radius: 0px 180px 0px 0px;
  z-index: 9;
}

/* sidebar buttons */
.sidebar a{
  color: rgb(255, 190, 220);
  text-decoration: none;
  font-family: 'arial';
  font-weight: bolder;
  font-size: 50px;
}

/* button text hover */
.sidebar a:hover{
  color: rgb(220, 230, 245);
}

.social{
  padding: 60px 0px 30px 0px;
}

/* this id is for the social blurb */
#ig{
  font-size: 15px;
  font-family: 'arial';
  font-style: italic;
  font-weight: bolder;
  color: white;
}

/* ------------------------------------------- */


/* padding goes clockwise */


/* main is just to compensate for sidebar */
.main{
  padding-left: 350px;
}

h1{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(50, 50, 60);
    font-family: 'arial';
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
    padding-bottom: 0px;
    text-shadow: 0px 10px rgb(255, 190, 220);
}

#logo{
  padding-left: 40px;
  position: fixed;
}

/* body text boxes ---------------------------------------------*/
/* top text box */
#main_body_text{
  background-color: rgb(255, 190, 220);
  width: 60%;
  height: 50%;
  padding: 20px 20px 0px 40px;
  border-radius: 50px 50px 0px 0px;
  font-family: 'arial';
  font-weight: lighter;
  color: rgb(50, 50, 60);
  font-size: 25px;
  left: 360px;
  position: fixed;
}

#sub_body_text{
  background-color: rgb(255, 190, 220);
  width: 60%;
  height: 20%;
  padding: 20px 20px 0px 40px;
  border-radius: 0px 0px 50px 50px;
  font-family: 'arial';
  font-weight: lighter;
  color: rgb(50, 50, 60);
  font-size: 25px;
  position: absolute;
  bottom: 150px;
  left: 360px;
  z-index: 10;
}
/*----------------------------------------------------------------*/
body{
  background-color: rgb(220, 230, 245);
}

#bottom_bkg{
  height: 60%;
  width: 100%;
  bottom: 0px;
  top: 60%;
  left: 8px;
  background-color: rgb(220, 230, 245);
  position: absolute;
}
