/* to fix side scrolling issue */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* just sidebar things -----------------------------------*/
.sidebar{
  overflow-x: hidden;
  background-color: rgb(50, 50, 60);
  width: 300px;
  height: 100%;
  padding-left: 10px;
  padding-top: 15px;
  position: fixed;
  border-radius: 5px 180px 0px 0px;
  z-index: 9;
}

/* sidebar buttons */
.sidebar a{
  color: rgb(255, 190, 220);
  text-decoration: none;
  font-family: 'arial';
  font-weight: bolder;
  font-size: 50px;
}

.sidebar a:hover{
  color: rgb(220, 230, 245);
}

.social{
  padding: 90px 0px 0px 0px;
}

/* this id is for the social blurb */
#insta_blurb{
  font-size: 15px;
  font-family: 'arial';
  font-style: italic;
  font-weight: bolder;
  color: white;
  position: fixed;
  left: 60px;
  top: 275px;
}

/* --------------------------------------------------------*/
/* padding goes clockwise */


/* main is just to compensate for sidebar */
.main{
  padding-left: 350px;
}

h1{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(50, 50, 60);
    font-family: 'arial';
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
    padding-bottom: 0px;
    text-shadow: 0px 10px rgb(255, 190, 220);
}

#logo{
  padding-left: 40px;
  position: fixed;
}

/* text bubbles --------------------------------------- */
#main_body_text{
  background-color: rgb(255, 190, 220);
  width: 900px;
  height: 50%;
  padding: 20px 20px 0px 40px;
  border-radius: 25px 25px 5px 5px;
  font-family: 'Helvetica';
  font-weight: normal;
  color: rgb(50, 50, 60);
  font-size: 25px;
  left: 360px;
  position: fixed;
}

#sub_body_textL{
  background-color: rgb(255, 190, 220);
  width: 360px;
  height: 170px;
  padding: 0px 0px 0px 25px;
  border-radius: 5px 5px 25px 25px;
  position: absolute;
  bottom: 210px;
  left: 360px;
  z-index: 10;
  /* text properties */
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 25px;
  color: rgb(50, 50, 60);
}

#sub_body_textR{
  background-color: rgb(255, 190, 220);
  width: 500px;
  height: 350px;
  padding: 0px 20px 0px 40px;
  border-radius: 5px 5px 25px 25px;
  position: absolute;
  bottom: 30px;
  left: 755px;
  z-index: 10;
  /* text properties */
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 25px;
  color: rgb(50, 50, 60);
}
/* textbox individual headers */

/*----------------------------------------------*/

body{
  background-color: rgb(220, 230, 245);
}

#bottom_bkg{
  height: 60%;
  width: 100%;
  bottom: 0px;
  top: 60%;
  left: 8px;
  background-color: rgb(220, 230, 245);
  position: absolute;
}
