/* to fix side scrolling issue */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* just sidebar things ----------------------- */

.sidebar{
  overflow-x: hidden;
  background-color: rgb(50, 50, 75);
  width: 350px;
  height: 100%;
  padding-left: 10px;
  padding-top: 15px;
  position: fixed;
  border-radius: 10px 180px 0px 0px;
/*  border-radius: 0px 90px / 80px; */
  z-index: 9;
}

/* sidebar buttons */
.sidebar a{
  color: rgb(255, 190, 220);
  text-decoration: none;
  font-family: 'arial';
  font-weight: bolder;
  font-size: 50px;
}

.sidebar a:hover{
  color: rgb(220, 230, 245);
}

.social{
  padding: 60px 0px 30px 0px;
}

.nav_text{
  left: 50px;
  line-height: 20%;
  position: sticky;
}

/* this id is for the social blurb */
#ig{
  font-size: 15px;
  font-family: 'arial';
  font-style: italic;
  font-weight: bolder;
  color: white;
}

#logo{
left: 28px;
top: 600px;
}

/* ------------------------------------------- */
/* padding goes clockwise */


/* main is just to compensate for sidebar */
.main{
  padding-left: 375px;
}

h1{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(50, 50, 75);
    font-family: 'arial';
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
    padding-bottom: 0px;
    text-shadow: 0px 10px rgb(255, 190, 220);
}

#logo{
  left: 40px;
  position: fixed;
}

/* top text box */
#main_body_text{
  background-color: rgb(255, 190, 220);
  width: 60%;
  height: 50%;
  padding: 20px 20px 0px 40px;
  border-radius: 50px 50px 0px 0px;
  font-family: 'Helvetica';
  font-weight: 100;
  color: rgb(50, 50, 75);
  font-size: 40px;
  left: 380px;
  position: fixed;
}

#sub_body_text a{
  background-color: rgb(150, 150, 255);
  width: 60%;
  height: 10%;
  padding: 20px 20px 0px 40px;
  border-radius: 0px 0px 50px 50px;
  font-family: 'Helvetica';
  font-weight: normal;
  text-decoration: none;
  color: rgb(220, 230, 245);
  font-size: 35px;
  position: absolute;
  bottom: 290px;
  left: 380px;
  z-index: 10;
}

#sub_body_text span{
  padding-left: 20px;
  position: absolute;
}

body{
  background-color: rgb(220, 230, 245);
}

#bottom_bkg{
  height: 60%;
  width: 100%;
  bottom: 0px;
  top: 60%;
  left: 8px;
  background-color: rgb(220, 230, 245);
  position: absolute;
}

#blurb{
  font-family: "Helvetica";
  font-weight: bold;
  color: rgb(50, 50, 75);
  left: 390px;
  bottom: 20px;
  z-index: 11;
  position: absolute;
}
