/* to fix side scrolling issue */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* just sidebar things ----------------------- */
.sidebar{
  overflow-x: hidden;
  background-color: rgb(50, 50, 75);
  width: 350px;
  height: 100%;
  padding-left: 10px;
  padding-top: 15px;
  position: fixed;
  border-radius: 10px 180px 0px 0px;
  z-index: 9;
}

/* sidebar buttons */
.sidebar a{
  color: rgb(255, 190, 220);
  text-decoration: none;
  font-family: 'arial';
  font-weight: bolder;
  font-size: 50px;
}

/* sidebar link highlight*/
.sidebar a:hover{
  color: rgb(220, 230, 245);
}

/* used to adjust only text part of
page links */
.nav_text{
  left: 50px;
  line-height: 20%;
  position: sticky;
}

/* specific glyph adjustments */
#comms{
  padding-left: 4px;
}
#home{
  margin-left: -1px;
}


/* site logo */
#logo{
  top: 600px;
  left: 67px;
  position: fixed;
}

/* ------------------------------------------- */
/* padding goes clockwise */


/* main is just to compensate for sidebar */
.main{
  padding-left: 375px;
}

h1{
    top: 10px;
    padding-left: 30px;
    font-weight: 700;
    color: rgb(50, 50, 75);
    font-family: 'arial';
    font-style: normal;
    font-size: 90px;
    text-decoration: none;
    padding-bottom: 0px;
    text-shadow: 0px 10px rgb(255, 190, 220);
}

/* text bubbles --------------------------------------- */
/* top text bubble */
#main_body_text{
  background-color: rgb(255, 190, 220);
  width: 60%;
  height: 50%;
  padding: 0px 20px 0px 40px;
  border-radius: 50px 50px 0px 0px;
  left: 380px;
  position: fixed;
  /* text properties */
  line-height: 120%;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 40px;
  color: rgb(50, 50, 75);
}

#middle_body_text{
  background-color: rgb(255, 210, 180);
  width: 60%;
  height: 30%;
  padding: 50px 20px 0px 40px;
  border-radius: 50px 50px 50px 50px;
  position: fixed;
  bottom: 80px;
  left: 380px;
  z-index: 0;
  /* text properties */
  line-height: 40%;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 40px;
  color: rgb(50, 50, 75);
}

#middle_body_text span{
  font-weight: bold;
}

#sub_body_text_index a{
  font-family: 'Helvetica';
  font-weight: normal;
  text-decoration: none;
  color: rgb(220, 230, 245);
  font-size: 35px;
}

#sub_body_text_index{
  padding: 20px 20px 0px 40px;
  background-color: rgb(150, 150, 255);
  width: 60%;
  height: 10%;
  border-radius: 0px 0px 50px 50px;
  bottom: 290px;
  left: 380px;
  position: absolute;
  z-index: 10;
}

#sub_body_text_index span{
  padding-left: 20px;
  position: absolute;
}

#sub_body_text{
  padding: 50px 20px 20px 40px;
  background-color: rgb(150, 150, 255);
  width: 60%;
  height: 15%;
  border-radius: 0px 0px 50px 50px;
  bottom: 0px;
  left: 380px;
  position: absolute;
  z-index: 10;
  /* text properties */
  line-height: 40%;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 40px;
  color: rgb(50, 50, 75);
}

#sub_body_text span{
  font-weight: bold;
}
/*----------------------------------------------*/


/* draws in site bkg*/
body{
  background-color: rgb(220, 230, 245);
}

#drawing{
  padding-left: 750px;
  overflow-y: clip;
  position: fixed;
  z-index: 20;
  pointer-events: none;
}


/* invisible border that scrolls ---------*/
#bottom_bkg_index{
  height: 60%;
  width: 100%;
  bottom: 0px;
  top: 60%;
  left: 8px;
  background-color: rgb(220, 230, 245);
  position: absolute;
}

#bottom_bkg_comms{
  height: 35%;
  width: 100%;
  bottom: 0px;
  top: 90%;
  left: 8px;
  background-color: rgb(220, 230, 245);
  position: absolute;
}

#bottom_bkg_port{
  height: 35%;
  width: 100%;
  bottom: 0px;
  top: 90%;
  left: 8px;
  position: absolute;
}
/* -----------------------------------------*/

table{
  margin-top: -20px;
  max-width: 60%;
  table-layout: fixed;
  position: fixed;
  left: 360px;
  border-spacing: 20px 20px;
  /* text properties */
  line-height: 120%;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 40px;
  color: rgb(50, 50, 75);
}

td {
    background-color: rgb(255, 190, 220);
    border-radius: 50px;
    text-align: left;
    padding: 40px 20px 40px 40px;
    overflow-x: hidden;
}

#album_1 img{
  height: 400px;
}

/* thank you blurb */
#blurb{
  font-family: "Helvetica";
  font-weight: bold;
  color: rgb(50, 50, 75);
  left: 390px;
  bottom: 20px;
  z-index: 11;
  position: absolute;
}
